/*
/*/

!.gitignore

!/*/[Pp]rojectSettings/

!/*
/*/*

!/Libraries/*

!/*/[Aa]ssets/
!/*/[Pp]ackages/
!/*/[Pp]rojectSettings/

/[Mm]ain/[Aa]ssets/[Kk]inect/Plugins/
/[Mm]ain/[Aa]ssets/[Kk]inect/Plugins.meta
/[Mm]ain/[Aa]ssets/[Kk]inect/Standard Assets/
/[Mm]ain/[Aa]ssets/[Kk]inect/Standard Assets.meta

/[Mm]ain/[Aa]ssets/[Ss]paceBrew/
/[Mm]ain/[Aa]ssets/[Ss]treamingAssets/.node/
/[Mm]ain/[Aa]ssets/[Ss]treamingAssets/.spacebrew/
