/*
/*/

!.gitignore

# this is weird, but doesn't work without it => TO FIX!
!/*
/*/*

!/Libraries/*

!/*/[Aa]ssets/
!/*/[Pp]ackages/
!/*/[Pp]rojectSettings/

# SpaceBrew related files (all projects)
/*/[Aa]ssets/[Ss]paceBrew/
/*/[Aa]ssets/[Ss]paceBrew.meta
/*/[Aa]ssets/[Ss]treamingAssets/.node
/*/[Aa]ssets/[Ss]treamingAssets/.spacebrew

# Kinect related files ("Main" project only)
/[Mm]ain/[Aa]ssets/[Kk]inect/Plugins/
/[Mm]ain/[Aa]ssets/[Kk]inect/Plugins.meta
/[Mm]ain/[Aa]ssets/[Kk]inect/Standard Assets/
/[Mm]ain/[Aa]ssets/[Kk]inect/Standard Assets.meta
